{% extends 'base.html' %}




{% block L-content %}


    {% for new in news_list %}

        <div class="content-list" >
            <div class="item">
                <div class="news-content">
                    <div class="part1">
                        <a href="{{ new.url }}" class="show-content">{{ new.title }}</a>
                        <span class="content-source">{{ new.newstype }}</span>
                    </div>
                    <div class="area-summary">
                        <span class="summary">{{ new.summary }}</span>
                    </div>
                    <div class="part2">

                        <a class="digg-a" href="#">
                            <span class="hand-icon icon-digg" onclick="addFavor(this, {{ new.id }})"></span>

                            <b onclick="addFavor2(this, {{ new.id }})">{{ new.favor_count }}</b>
                        </a>
                        <a href="#" class="discus-a">
                            <span class="hand-icon icon-discus" onclick="replay(this, {{ new.id }})"></span>
                            <b>{{ new.reply_count }}</b>
                        </a>

                        <label >{{ new.create_date|date:'Y-m-d H:i:s' }}</label>
                    </div>
                    <div class="part3 hide">
                        <div class="reply1 pp">
                            <label class="pp">所有评论：</label><hr/>
                        </div>
                        <div class="reply2 pp">
                            <label>请输入评论：<input type="text"/></label>

                            <input type="submit" value="提交" onclick="submitreply(this, {{ new.id }})"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block R-content %}
    <div class="chat-area" id="chat">
        <h4 style="background-color: gray">web聊天室</h4>
    </div>
    <div >
        {% csrf_token %}
        <label >
            <textarea type="text" name="input_content" id="web-content" class="chat-height2"></textarea>
            <input type="submit" class="chat-height2" value="发送" onclick="addweb(this)"/>
        </label>
    </div>
{% endblock %}


{% block js %}
    <script>
        /*
        *定时刷新 没有完成， 不知道web聊天室的div是怎么写的！！！
        */
        setInterval(going(), 2000);
        window.last_num = 0;
        function going(){
            console.log(window.last_num);
            if(window.last_num){
                $.ajax({
                   url:'/freshwebchat/',
                    data:{last_num:window.last_num},
                    type:'POST',
                    success:function(ret){
                        $.each(function (k, v) {
                            tep= "<div>"+ v.user__username+":"+ v.content+"------"+ v.create_date+"</div>";
                            $('chat').append(tep);
                        })
                    }
                });
            }
            else{
                alert('fuwuqiyichang');
            }
        }
        /*
         web聊天室
         */
       // window.
        function addweb(doc){
            var conten = $(doc).prev('textarea').val();
            $.ajax({
                url:'/webchat/',
                data:{content:conten},
                type:'POST',
                success: function (ret) {
                    temp = jQuery.parseJSON(ret);
                    if(temp.status) {
                        tep = "<div>" + temp.data.user__username + ":" + conten + "------" + temp.data.create_date + "</div>";
                        $("#chat").append(tep);
                    }
                    else{
                        alert(temp.msg);
                    }
                }
            });
            //tep= "<div>"+ temp.data.user__username+":"+ temp.data.content+"------"+ temp.data.create_date+"</div>";
            console.log(conten);
        }
        /*
         添加评论
         */
        function submitreply(doc, id){

            var ss = $(doc).prev('label').children('input').val();
            if(ss.length>1) {
                $.ajax({
                    url: '/submitreply/',
                    data: {data: $(doc).prev('label').children('input').val(), nid: id},
                    type: 'POST',
                    success: function (ret) {
                        temp = jQuery.parseJSON(ret);
                        if(temp.status == 0){
                            alert(temp.msg);
                        }
                        else{
                            tep= "<div>"+ temp.data.user__username+":"+ temp.data.content+"------"+ temp.data.create_date+"</div>";
                            $(doc).parent('div').prev('div').first().append(tep);
                            $(doc).prev('label').children('input').val('');
                        }
                    }
                });
            }
        }
        /*
         显示全部评论
         */

        function replay(doc, id){
            /*
             *toggleClass(classname) 点击一次展开点击一次收回
             */
            $(doc).parent('a').parent('div').next('div').toggleClass('hide');
            $.ajax({
                url: '/getreply/',
                data: {nid: id},
                type: 'POST',
                success: function(res){
                    temp = jQuery.parseJSON(res);
                    //aconsole.log(temp);
                    $.each(temp,function(k, v){
                        tep= "<div>"+ v.user__username+":"+ v.content+"------"+ v.create_date+"</div>";

                        $(doc).parent('a').parent('div').next('div').find('div').first().append(tep);
                        $(doc).parent('a').parent('div').next('div').find('div').first().append("<hr/>");

                    });
                }
            })
        }
        /*
         点赞
         */
        function addFavor2(doc, id){
            $.ajax({
                url:'/addfavor/',
                data:{nid:id},
                type:'POST',
                success:function(obj){
                    var temp = jQuery.parseJSON(obj);
                    //console.log(temp);
                    if(temp.staus == 0){

                        alert(temp.message);
                    }
                    else {
                        //console.log(temp.data);
                        $(doc).text(temp.data);
                    }
                }
            })
        }
        /*
         点赞
         */
        function addFavor(doc, id){

            $.ajax({
                url:'/addfavor/',
                data:{nid:id},
                type:'POST',
                success:function(obj){
                    var temp = jQuery.parseJSON(obj);
                    //console.log(temp);
                    if(temp.staus == 0){

                        alert(temp.message);
                    }
                    else {
                        //console.log(temp.data);
                        $(doc.nextElementSibling).text(temp.data);
                    }
                }
            })
        }
    </script>
{% endblock %}